<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.stock.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.itheima.stock.pojo.entity.SysRolePermission">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
            <result property="permissionId" column="permission_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id,
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_role_permission
        where  id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_role_permission
        where  id = #{id}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.entity.SysRolePermission" useGeneratedKeys="true">
        insert into sys_role_permission
        ( id,role_id,permission_id
        ,create_time)
        values (#{id,jdbcType=VARCHAR},#{roleId,jdbcType=VARCHAR},#{permissionId,jdbcType=VARCHAR}
        ,#{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.entity.SysRolePermission" useGeneratedKeys="true">
        insert into sys_role_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="roleId != null">roleId,</if>
                <if test="permissionId != null">permissionId,</if>
                <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">id = #{id,jdbcType=VARCHAR},</if>
                <if test="roleId != null">role_id = #{roleId,jdbcType=VARCHAR},</if>
                <if test="permissionId != null">permission_id = #{permissionId,jdbcType=VARCHAR},</if>
                <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.stock.pojo.entity.SysRolePermission">
        update sys_role_permission
        <set>
                <if test="roleId != null">
                    role_id = #{roleId,jdbcType=VARCHAR},
                </if>
                <if test="permissionId != null">
                    permission_id = #{permissionId,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.stock.pojo.entity.SysRolePermission">
        update sys_role_permission
        set
            role_id =  #{roleId,jdbcType=VARCHAR},
            permission_id =  #{permissionId,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   id = #{id}
    </update>

    <insert id="addRolePermissionBatch">
        insert into sys_role_permission
        (id,role_id,permission_id,create_time)
        values
        <foreach collection="rps" item="rp" separator=",">
            (#{rp.id},#{rp.roleId},#{rp.permissionId},#{rp.createTime})
        </foreach>
    </insert>

    <select id="getPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT
            rp.permission_id
        FROM
            sys_role_permission AS rp
        WHERE
            rp.role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission WHERE role_id=#{roleId}
    </delete>
    <delete id="deleteByPermissionId">
        DELETE FROM sys_role_permission WHERE permission_id=#{permissionId}
    </delete>
</mapper>
